body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(5, 1fr);
}

/* Header */
#header-container {
    grid-area:  1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* Sidebar  */
#sidebar-container {
    grid-area: 1 / 1 / 6 / 2;
}

/* Main Content */
#main-container {
    grid-area:  2 / 2 / 6 / 3;
}


/* TEMP */
#header-container, #sidebar-container, #main-container {
    border: solid red 3px;
}

div {
    border: solid 3px blue;
}

img {
    width: 30px;
    height: auto;
}

li {
    list-style-type: none;
}