* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.profile-pic {
    border-radius: 50%;
    width: 3.5rem;
}

/* Header ------------------------------------------------------------------------ */
#header-container {
    grid-area:  1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.search-btn {
    margin: 0 1rem 0 auto;
}

input[type=search] {
    background-color: #d4fde3;
    border-radius: 20px;
    border: none;
    width: 40rem;
    height: 2.3rem;
}

.header-buttons-container {
    align-self: center;
    justify-self: center;
}

.btn-header {
    background-color: #059669;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
    padding: .8rem 2rem;
    border-radius: 20px;
    border: none;
}

.profile-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.notifications {
    justify-self: right;
}

.profile-name {
    justify-self: left;
}


.user-info-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 10px;
}

.profile-pic-header {
    grid-area: 1 / 1 / 3 / 2;
    justify-self: right;
    border-radius: 50%;
    width: 5.5rem;
    margin-right: 1rem;
}

.greeting {
    align-self: end;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.user-info-name {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Sidebar  ---------------------------------------------------------------------- */
#sidebar-container {
    grid-area: 1 / 1 / 3 / 2;
    height: 100%;
    background: #059669;
    color: white;
    font-size: 1rem;
}

.logo-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.main-links, .secondary-links {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding-top: 1.5rem;
    font-weight: bold;
}

.main-links {
    grid-template-rows: repeat(6, 1fr);
}
.secondary-links {
    grid-template-rows: repeat(3, 1fr);
}

.icon.sidebar {
    padding: .75rem;
    justify-self: end;
    align-self: center;
}

.icon {
    filter: invert(1);
    width: 1rem;
}

.logo {
    filter: invert(1);
    grid-area: 1 / 1 / 2 / 2;
    width: 4rem;
    justify-self: center;
}

.sidebar-header {
    font-size: 1.75rem;
    font-weight: bold;
}

/* Main Content ------------------------------------------------------ */
#main-container {
    grid-area:  2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #d4fde3;
}

.projects-container {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template: .1fr repeat(3, 1fr) / 1fr 1fr; /* clean up like this!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    margin: 20px;
    gap: 1rem;
}
.project-header {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 2rem;
    font-weight: bold;
}

.project {
    display: grid;
    grid-template: 1fr 4fr 1fr / 1fr;
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
}

.project-title{
    font-size: 1.5rem;
    font-weight: bold;
}

/* .project-text {

} */

.project-icons {
    justify-self: end;
    align-self: end;

}

.icon-content {
    margin: 0 0 0 10px;
}

.announcements-container {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: .15fr 1fr / 1fr;
    margin: 20px 20px 20px 0;
}

.announcement-box {
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
}

.announcement-header {
    font-size: 2rem;
    font-weight: bold;
}
hr {
    margin: 10px 0 10px 0;
}

/* /* .announcement-title {
    padding-bottom: .5rem;
} */

.announcement {
    padding-bottom: 20px;
} */

.trending-container {
    grid-area: 2 / 2 / 3 / 3
}


/* TEMP -------------------------------------------------------------------*/ 
/* div {
    border: solid 1px rgb(172, 172, 233);
} */

img {
    width: 30px;
    height: auto;
}

