* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(5, 1fr);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/* Header */
#header-container {
    grid-area:  1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.btn-header {
    background-color: #059669;
    color: white;
    padding: .5rem 1rem;
    border-radius: 20px;
    border: none;
}

.profile-pic {
    border-radius: 50%;
    border: 1px solid black;
    width: 4rem;
}

/* Sidebar  */
#sidebar-container {
    grid-area: 1 / 1 / 6 / 2;
    height: 100%;
    background: #059669;
    color: white;
    font-size: 1rem;
}

.logo-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.main-links, .secondary-links {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding-top: 1.5rem;
    font-weight: bold;
}

.main-links {
    grid-template-rows: repeat(6, 1fr);
}
.secondary-links {
    grid-template-rows: repeat(3, 1fr);
}

.icon.sidebar {
    padding: .75rem;
    justify-self: end;
    align-self: center;
}

.icon {
    filter: invert(1);
    width: 1rem;
}

.logo {
    filter: invert(1);
    grid-area: 1 / 1 / 2 / 2;
    width: 4rem;
    justify-self: center;
}

.sidebar-header {
    font-size: 1.75rem;
    font-weight: bold;
}

/* Main Content */
#main-container {
    grid-area:  2 / 2 / 6 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    background-color: #bbf7d0;
}

.projects-container {
    grid-area: 1 / 1 / 5 / 2;
}

.announcements-container {
    grid-area: 1 / 2 / 3 / 3
}

.trending-container {
    grid-area: 3 / 2 / 5 / 3
}


/* TEMP */
div {
    border: solid 1px rgb(172, 172, 233);
}

img {
    width: 30px;
    height: auto;
}

